@import url("normalize.css");
@import url("fonts.css");

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.text {
    margin: 0;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1420px;
    padding: 0 250px;
    margin: 0 auto;
}

@media (max-width: 1919.98px) {
    .wrapper {
        padding: 0 40px;
    }
}

@media (max-width: 575.98px) {
    .wrapper {
        padding: 0 20px;
    }
}

/* =====================hero===================== */
.hero {
    width: 100%;
    padding-bottom: 60px;

    background-image: url("../assets/images/hero/sean-pollock-203658-unsplash.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.hero::before {
    background: linear-gradient(180deg, rgba(0, 78, 134, 0.8) 0%, rgba(10, 65, 104, 0.8) 100%);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.hero__wrapper {
    position: relative;
    z-index: 10;
}

.hero__nav {
    height: 80px;
    margin-bottom: 127px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__menu {
    display: flex;
    align-items: center;
    position: relative;
}

.hero__checkbox {
    display: none;
}

.hero__burger {
    cursor: pointer;
    padding: 0;
    border: 0;

    width: 40px;
    height: 22px;
    opacity: 0.8;
    margin-right: 80px;

    background-image: url("../assets/images/hero/burger.png");
    background-repeat: no-repeat;
    background-position: center;
}

.hero__navigation-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);

    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: all .3s;
}

.navigation-menu__item {
    position: relative;
    border-top: 1px solid #F5F5F5;
    background-color: #60B6FF;
}

.navigation-menu__item:last-child {
    border-bottom: 1px solid #F5F5F5;
}

.navigation-menu__item:hover {
    background-color: #FEE040;
    transition: all .3s ease;
}

.navigation-menu__link {
    display: block;
    padding: 10px;
}

.hero__checkbox:checked ~ .hero__navigation-menu {
    max-height: 500px;
    font-size: 16px;
}

.hero__contacts {
    width: 460px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mail__top-text {
    opacity: 0.5;
    margin-bottom: 6px;
}

.mail__bottom-text {
    font-size: 14px;
    line-height: 86%;
    text-align: right;
    color: #FEE040;
}

.mail__icon {
    background-image: url("../assets/images/hero/mail.svg");
    background-repeat: no-repeat;

    display: inline-block;
    width: 10px;
    height: 7.5px;
    margin-right: 9.5px;
}

.number__top-text {
    opacity: 0.5;
    text-align: right;
    margin-bottom: 7px;
}

.number__bottom-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: right;
}

.number__icon {
    background-image: url("../assets/images/hero/phone.svg");
    background-repeat: no-repeat;

    display: inline-block;
    width: 11px;
    height: 11px;
    margin-right: 7px;
}

.hero__content {
    max-width: 1180px;
    height: 209px;
    margin: 0 auto;
    margin-bottom: 63px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__header {
    width: 580px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__top-text {
    font-family: Gilroy;
    font-weight: 800;
    font-size: 42px;
    line-height: 51px;
}

.header__bottom-text {
    font-size: 20px;
    line-height: 170%;
    opacity: 0.7;
}

.hero__but {
    width: 340px;
    height: 194px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.but__text {
    font-size: 15px;
    font-weight: 400;
    line-height: 187%;
    text-align: justify;
}

.but__button {
    cursor: pointer;
    border: 0;
    padding: 0;

    font-family: Gilroy;
    font-weight: 800;
    line-height: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;

    width: 340px;
    height: 70px;
    background: #FEE040;
    border-radius: 2px;
}

.but__icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 12px;

    background-image: url("../assets/images/hero/download.svg");
    background-repeat: no-repeat;
}

.hero__bot {
    max-width: 1420px;
    min-height: 228px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.hero__features {
    width: 1020px;
    height: 56px;
}

.features__list {
    display: flex;
    justify-content: space-between;
}

.features__item {
    display: flex;
}

.features__count {
    background-repeat: no-repeat;
    height: 47px;
}

.features__count--first {
    background-image: url("../assets/images/hero/01.svg");
    width: 49px;
    margin-right: 31px;
}

.features__count--second {
    background-image: url("../assets/images/hero/02.svg");
    width: 53px;
    margin-right: 27px;
}

.features__count--third {
    background-image: url("../assets/images/hero/03.svg");
    width: 53px;
    margin-right: 27px;
}

.features__text {
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
}

.hero__video {
    width: 220px;
    height: 220px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.video__stamp {
    position: absolute;
}

.video__photo {
    border-radius: 50%;
}

.video__icon {
    cursor: pointer;
    width: 20px;
    height: 23px;

    background-image: url("../assets/images/hero/Polygon.png");
    background-repeat: no-repeat;

    position: absolute;
}

@media (max-width: 1419.98px) {
    .hero__bot {
        justify-content: space-evenly;
        align-items: center;
    }

    .hero__features {
        width: auto;
        height: auto;
    }

    .features__list {
        flex-direction: column;
        justify-content: space-between;
    }

    .features__item {
        margin-bottom: 20px;
    }
}

@media (max-width: 991.98px) {
    .hero__nav {
        margin-bottom: 63px;
    }

    .hero__contacts {
        width: 50%;
    }

    .hero__content {
        display: block;
        height: auto;
    }

    .hero__header,
    .hero__but {
        width: auto;
        height: auto;
    }

    .header__top-text,
    .header__bottom-text,
    .but__text {
        text-align: center;
    }

    .header__top-text {
        margin-bottom: 10px;
    }

    .header__bottom-text {
        margin-bottom: 20px;
    }

    .but__button {
        margin: 0 auto;
    }
}

@media (max-width: 767.98px) {
    .hero {
        padding: 30px 0;
    }

    .hero__nav {
        flex-direction: column;
        height: auto;
    }

    .hero__menu {
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .hero__contacts {
        justify-content: center;
    }

    .hero__menu,
    .hero__contacts {
        width: 100%;
    }

    .hero__mail {
        margin-right: 20px;
    }

    .hero__nav,
    .hero__content {
        margin-bottom: 30px;
    }
}

@media (max-width: 575.98px) {
    .hero__bot {
        flex-direction: column;
    }

    .but__button {
        width: 60%;
    }
}

/* =====================why-we===================== */
.why-we {
    width: 100%;
    position: relative;
}

.why-we__wrapper {
    display: flex;
    position: relative;
    z-index: 10;
}

.why-we__left-content {
    width: 50%;
    padding-top: 100px;
    padding-bottom: 89px;
}

.left-content-text-block {
    width: 460px;
    height: 260px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-content__top-text {
    font-family: Gilroy;
    font-weight: 800;
    font-size: 32px;
    line-height: 131%;
    color: #151515;
}

.left-content__bottom-text {
    font-size: 18px;
    line-height: 156%;
    color: #707070;
    opacity: 0.7;
}

.why-we__right-content {
    background-color: #F5F5F5;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right-content__text-block {
    width: 460px;
    height: 178px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-content__top-text {
    font-size: 24px;
    font-weight: 700;
    line-height: 142%;
    color: #151515;
}

.right-content__list {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-content__item {
    display: flex;
    align-items: center;
}

.right-content__icon {
    background-image: url("../assets/images/why-we/icon.png");
    background-repeat: no-repeat;
    background-position: center;

    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    flex-shrink: 0;
}

.right-content__text {
    font-size: 18px;
    line-height: 144%;
    color: #333333;
    opacity: 0.7;
}

.why-we__tv {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.why-we__right-bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #F5F5F5;
    z-index: 5;
}

@media (max-width: 1419.98px) {
    .why-we {
        padding: 60px 0;
    }

    .why-we__wrapper {
        flex-direction: column;
    }

    .why-we__left-content,
    .why-we__right-content {
        width: 100%;
        height: 50%;
    }

    .why-we__left-content {
        padding: 0;
    }

    .why-we__right-bg {
        top: 50%;
        width: 100%;
        height: 50%;
    }

    .why-we__tv {
        position: static;
    }
}

@media (max-width: 767.98px) {
    .why-we {
        padding: 30px 0;
    }

    .right-content__list {
        height: auto;
        justify-content: space-between;
    }

    .right-content__item {
        margin-bottom: 10px;
    }
}

@media (max-width: 575.98px) {
    .left-content-text-block,
    .right-content__text-block {
        width: 100%;
        height: auto;
    }
}

/* =====================services===================== */
.services {
    width: 100%;
    background-image: url("../assets/images/hero/sean-pollock-203658-unsplash.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding-top: 100px;
    padding-bottom: 80px;
}

.services::before {
    background: linear-gradient(180deg, rgba(0, 78, 134, 0.9) 0%, rgba(10, 65, 104, 0.9) 100%);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.services__wrapper {
    position: relative;
    z-index: 10;
}

.services__headline {
    font-family: "Bebas Neue";
    font-weight: bold;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 20px;
    text-transform: uppercase;
    color: #FEE040;
    text-align: center;
    margin-bottom: 20px;
}

.services__text {
    font-family: Gilroy;
    font-weight: 800;
    font-size: 32px;
    line-height: 131%;
    text-align: center;
    margin-bottom: 20px;
}

.services__slider {
    width: 100%;
    overflow: hidden;
}

.services__list {
    display: flex;
    position: relative;
    left: 0;
    right: 0;
    transition: all ease 1s;
}

.services__item {
    height: 381px;
    margin-bottom: 56px;
    flex: 0 0 calc(100% / 3 + 1px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.services__picture {
    border-radius: 3px;
    margin-bottom: 30px;
}

.services__subheadline {
    font-size: 24px;
    font-weight: 800;
    line-height: 117%;
    margin-bottom: 20px;
}

.services__subtext {
    font-size: 16px;
    line-height: 162%;
    opacity: 0.7;
    margin-bottom: 29px;
    max-width: 400px;
}

.services__more {
    cursor: pointer;
    font-family: "Bebas Neue";
    font-weight: bold;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 7px;
    color: #FEE040;
    margin-right: 13.5px;
}

.more__icon {
    width: 21.41px;
    height: 9.41px;
    background-image: url("../assets/images/services/arrow.svg");
    background-repeat: no-repeat;
    display: inline-block;
}

.services__progress-bar {
    width: 574px;
    height: 4px;
    background: linear-gradient(270deg, #FEE040 0%, rgba(254, 224, 64, 0) 100%);
    margin-left: -250px;
}

@media (max-width: 1419.98px) {
    .services__item {
        flex: 0 0 50%;
        align-items: center;
    }
}

@media (max-width: 991.98px) {
    .services__item {
        flex: 0 0 100%;
    }
}

@media (max-width: 767.98px) {
    .services {
        padding: 30px 0;
    }

    .services__progress-bar {
        width: 100%;
    }
}

/* =====================steps===================== */
.steps__wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.steps__text-block {
    padding-top: 104px;
    padding-bottom: 100px;
}

.steps__top-text {
    font-family: "Bebas Neue";
    font-weight: bold;
    font-size: 80px;
    line-height: 64px;
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 36px;

    background-color: #f3ec78;
    background-image: linear-gradient(#60B6FF 0%, rgba(0, 78, 134, 0.8) 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.steps__bottom-text {
    font-family: Gilroy;
    font-weight: 800;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #505050;
    max-width: 503px;
    margin: 0 auto;
}

.steps__step-one {
    background: #F5F5F5;
    display: flex;
    align-items: center;
}

.step-one__picture {
    width: 50%;
}

.step-one__info-block {
    width: 50%;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.step-one__header {
    max-width: 460px;
    margin-bottom: 32px;
}

.step-one__container {
    display: flex;
    align-items: center;
}

.step-one__step {
    font-size: 16px;
    font-weight: 700;
    line-height: 144%;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #151515;
    background: #FEE040;

    margin-right: 20px;
}

.step-one__subheadline {
    font-size: 24px;
    font-weight: 700;
    line-height: 142%;
    color: #151515;
}

.step-one__text {
    font-size: 18px;
    line-height: 144%;
    color: #333333;
    opacity: 0.7;
}

.step-one__body {
    display: flex;
    align-items: center;
}

.step-one__photo {
    border: 7px solid #FFFFFF;
    border-radius: 50%;
    margin-right: 30px;
}

.step-one__quote {
    margin: 0;
}

.quote__text {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    line-height: 150%;
    color: #505050;
    opacity: 0.7;

    max-width: 380px;
    margin-bottom: 21px;
}

.quote__cite {
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: 162%;
    color: #151515;
    opacity: 0.7;
}

.cite__name {
    text-transform: uppercase;
}

@media (max-width: 1199.98px) {
    .steps__step-one {
        flex-direction: column;
    }

    .step-one__picture,
    .step-one__info-block {
        width: 100%;
        margin-bottom: 30px;
    }

    .step-one__info-block {
        padding-left: 0;
        flex-direction: row;
    }

    .step-one__header,
    .step-one__body {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media (max-width: 991.98px) {
    .step-one__info-block {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 767.98px) {
    .steps__text-block {
        padding: 30px 0;
    }
}

@media (max-width: 575.98px) {
    .step-one__header,
    .step-one__body {
        margin-left: 20px;
        margin-right: 20px;
    }

    .step-one__container {
        flex-direction: column;
    }
}